body{
    background-color: rgb(136, 219, 242);
}

.titulo{
    color: #237fd0;
    font-size: 27px;
    padding: 10px;
    text-align: center;
}

.btn{
    background-color: #237fd0;
    color:white;
    
}

img{
    width: 100%;
    border-radius: 15px;
}

table{

        border: #e91a1a 1px solid;
    }
      
td, th {
      border: black 1px solid;
    }